* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
      width: 20%;
      float: left;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
      width: 20%;
      float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
      width: 20%;
      float: left;
  }
}

.padding-0{
  padding-right:0;
  padding-left:0;
}

a{
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.nav-bkgrd{
  background-color: transparent;
}
.banner-image{
  height:75vh;
  /* background-color: tomato; */
  background-image: url("../imgs/bg.png"); 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

.logo{
  text-align: center;
}

.button-bkg{
  background: #009dff;
    padding: 12px 26px;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid transparent;
    color: #fff;
    padding: 12px 26px;
}
.button-bkg:hover{
  background: white;
  color:#009dff;
  border: 1px solid #009dff;

}

.icon{
  font-size:18px;
  color:#a8a7a0;
  
  background-color: transparent;
}
.icon:hover{
 
  color:white;

}


/* start of Ongoing Offers  */

.button-Ongoing{
  width: 100%;
    text-align: center;
    font-size: 14px;
    color: #009dff;
    border: 1px solid #009dff;
    text-transform: capitalize;
    padding: 10px 25px;
}

.button-Ongoing:hover{
  background-color: #009dff;
  color: white;
}
.Ongoing-head{
  color: #009dff;

}
/* end of Ongoing Offers  */

 /* start of Featured Rooms  */

/* .room-item{
  width: 100%;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
} */
.room-link:hover{
  color: #009dff !important;

}
 /* end of Featured Rooms  */

 .phone-nu{
  background: #009dff;
  color: #fff;
  padding: 12px 53px;
  border-radius: 30px;
  display: inline-block;
  font-size: 18px;
  border: 1px solid transparent;
 }
 .phone-nu:hover{
  background: #fff;
  color: #009dff;
  padding: 12px 53px;
  border-radius: 30px;
  display: inline-block;
  font-size: 18px;
  border: 1px solid #009dff;
 }
 

 

 footer{
   height: auto;
   /* position: relative; */
 }
 .bgclr-footer{
   background-color: black;
 }

 .foot-link{
   color:#BABABA !important;
 }
 .foot-link:hover{
  color:#009dff !important;
}

/* footer::before {
 content:'';
  position:absolute;
  display:block;
  top:90%;
  height:0.5px;
  width: 80%;
  background:#BABABA;
  left:50%;
  z-index:1;
  transform:translateX(-50%);
  -webkit-transform:translateX(-50%);
  
} */
.line{
  
  height:0.5px;
  width: 95%;
  background:#BABABA;
  display:inline;
}
.foot-icon{
  
  color:#BABABA;
  
}

.clr-foot{
  color:#BABABA;

}