* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}
.nav-bkgrd{
  background-color: transparent;
}
.banner-image{
  height:75vh;
  /* background-color: tomato; */
  background-image: url("../imgs/bg.png"); 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

.logo{
  text-align: center;
}

.button-bkg{
  background: #009dff;
    padding: 12px 26px;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid transparent;
    color: #fff;
    padding: 12px 26px;
}
.button-bkg:hover{
  background: white;
  color:#009dff;
  border: 1px solid #009dff;

}

.icon{
  font-size:18px;
  color:#a8a7a0;
  
  background-color: transparent;
}
.icon:hover{
 
  color:white;

}



.button-Ongoing{
  width: 100%;
    text-align: center;
    font-size: 14px;
    color: #009dff;
    border: 1px solid #009dff;
    text-transform: capitalize;
    padding: 10px 25px;
}

.button-Ongoing:hover{
  background-color: #009dff;
  color: white;
}
.Ongoing-head{
  color: #009dff;

}